// reset.css
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

.header {
  width: 100%;
  height: 50px;
  background-color: red;
}

.main {
  width: 100%;
  height: 500px;
  background-color: orange;
}

.contents {
  width: 960px;
  display: flex;
  margin: 0 auto;
  background-color: lightgreen;
  &-right {
    width: 230px;
    height: 1400px;
  }
  &-center {
    width: 500px;
    height: 1400px;
    background-color: green;
  }
  &-left {
    width: 230px;
    height: 1400px;
  }
}

.footer {
  width: 100%;
  height: 100px;
  background-color: blue;
}